<div class="d-flex justify-content-center align-items-center">
  <!-- <div class="pst-js-only dropdown-center"> -->
  <!--   <button class="btn dropdown-toggle phx-muted" type="button" data-bs-toggle="dropdown" aria-expanded="false"> -->
  <!--     master -->
  <!--   </button> -->
  <!--   <ul class="dropdown-menu dropdown-menu-center"> -->
  <!--     <li><h6 class="dropdown-header">Version</h6></li> -->
  <!--     {% for name, url in versions %} -->
  <!--     <li><a class="dropdown-item" href="{{ url }}">{{ name }}</a></li> -->
  <!--     {% endfor %} -->
  <!--   </ul> -->
  <!-- </div> -->

  <div class="d-flex gap-2">
    <a class="phx-primary" aria-current="page" href="">{{ current_version }}</a>
    {% for name, url in versions %}
    {% if name != current_version %}
    <a class="phx-muted" href="{{ url }}">{{ name }}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
