/* In this file place changes you want to overwrite in furo.css */

@import 'furo.css';

/* Add open-sans-regular - latin font */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

/* Disable dark mode (values copied from light mode) */
@media not print {
    body[data-theme=dark] {
		--color-problematic:#b30000;
		--color-foreground-primary:#000;
		--color-foreground-secondary:#5a5c63;
		--color-foreground-muted:#646776;
		--color-foreground-border:#878787;
		--color-background-primary:#fff;
		--color-background-secondary:#f8f9fb;
		--color-background-hover:#efeff4;
		--color-background-hover--transparent:#efeff400;
		--color-background-border:#eeebee;
		--color-background-item:#ccc;
		--color-announcement-background:#000000dd;
		--color-announcement-text:#eeebee;
		--color-brand-primary:#2962ff;
		--color-brand-content:#2a5adf;
		--color-highlighted-background:#def;
		--color-guilabel-background:#ddeeff80;
		--color-guilabel-border:#bedaf580;
		--color-api-keyword: var(--color-foreground-primary);
		--color-highlight-on-target:#ffc;
		--color-admonition-background: transparent;
		--color-card-border: var(--color-background-secondary);
		--color-card-background: transparent;
		--color-card-marginals-background: var(--color-background-secondary)
    }

    html body[data-theme=dark] .only-light {
        display: none !important
    }

    body[data-theme=dark] .only-dark {
        display: block !important
    }

    @media(prefers-color-scheme:dark) {
        body:not([data-theme=light]) {
		--color-problematic:#b30000;
		--color-foreground-primary:#000;
		--color-foreground-secondary:#5a5c63;
		--color-foreground-muted:#646776;
		--color-foreground-border:#878787;
		--color-background-primary:#fff;
		--color-background-secondary:#f8f9fb;
		--color-background-hover:#efeff4;
		--color-background-hover--transparent:#efeff400;
		--color-background-border:#eeebee;
		--color-background-item:#ccc;
		--color-announcement-background:#000000dd;
		--color-announcement-text:#eeebee;
		--color-brand-primary:#2962ff;
		--color-brand-content:#2a5adf;
		--color-highlighted-background:#def;
		--color-guilabel-background:#ddeeff80;
		--color-guilabel-border:#bedaf580;
		--color-api-keyword: var(--color-foreground-primary);
		--color-highlight-on-target:#ffc;
		--color-admonition-background: transparent;
		--color-card-border: var(--color-background-secondary);
		--color-card-background: transparent;
		--color-card-marginals-background: var(--color-background-secondary)
        }

        html body:not([data-theme=light]) .only-light {
            display: none !important
        }

        body:not([data-theme=light]) .only-dark {
            display: block !important
        }
    }
}

/* Hide toggle dark mode icon */
.content-icon-container {
    display: none !important
}

/* Change font size */
html {
    -webkit-text-size-adjust: 60% !important;
    line-height: 1.15
}

body {
    font-size: 0.88em !important;
    line-height: 1.4 !important;
    font-weight: 400 !important;
    margin: 0
}

h1 {
    font-size: 1.75em !important
}

h2 {
    font-size: 1.5em !important
}

h3 {
    font-size: 1.25em !important
}

h4 {
    font-size: 1.125em !important
}

h5 {
    font-size: 1.0em !important
}

h6 {
    font-size: 0.85em !important
}

@media(min-width: 97em) {
    html {
            font-size: 100% !important
    }
}

/* Center images */
img {
    max-width: 100% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important
}

/* Change sidebar width, hide border and move to the left */
.sidebar-drawer {
    background: var(--color-sidebar-background);
    border-right: none !important;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start !important;
    width: 17em !important
}

.sidebar-container {
    box-sizing: border-box;
    width: 17em !important
}

/* Hide sidebar brand text */
.sidebar-brand-text {
    display: none !important
}

/* Change background color of scrollable part of sidebar */
.sidebar-scroll::-webkit-scrollbar {
    background-color: #f1f3f3 !important;
    border-radius: .125rem
}

.sidebar-scroll {
    background-color: #f1f3f3 !important;
    scrollbar-color: var(--color-foreground-border) transparent;
    scrollbar-width: thin
}

/* Add border-radius and alginment to searchbox */
.sidebar-search-container {
    border-radius: 15px !important;
    align-items: center;
    background: var(--color-sidebar-search-background);
    display: flex;
    margin-top: 0.1rem !important;
    margin-bottom: 0.75rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    position: relative
}

/* Adjust padding of logo */
.sidebar-brand {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1.8rem 1rem 0.8rem 1rem !important;
    text-decoration: none
}

/* Change padding of searchbox */
.sidebar-search {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--color-sidebar-search-foreground);
    padding: var(--sidebar-search-input-spacing-vertical) var(--sidebar-search-input-spacing-horizontal)
             var(--sidebar-search-input-spacing-vertical) 1.85rem !important;
    width: 100%;
    z-index: 10
}

/* Change icon position for the left side of container */
.sidebar-search-container:before {
    background-color: var(--color-sidebar-search-icon);
    content: "";
    height: var(--sidebar-search-icon-size);
    left: 0.5rem !important;
    -webkit-mask-image: var(--icon-search);
    mask-image: var(--icon-search);
    position: absolute;
    width: var(--sidebar-search-icon-size)
}

/* Change color and font-weight of current page reference */
.sidebar-tree .current-page>.reference {
    font-weight: 600 !important;
    color:#ea5b22 !important
}

/* Change color and font-weight of current reference */
.sidebar-tree .current>.reference {
    background: var(--color-sidebar-item-background--current);
    color: #ea5b22 !important;
    font-weight: 600 !important
}

/* Change color on hover of current reference */
.sidebar-tree .current>.reference:hover {
    background: #ea5b22 !important;
    color:white !important
}

/* Change color on hover for 4 levels of list */
.sidebar-tree .current > .reference:hover,
.sidebar-tree [class^='toctree-l'] > a:hover {
    background: #ea5b22 !important;
    color: white !important;
}

.sidebar-tree [class^='toctree-l'] > a:hover + input + label,
.sidebar-tree [class^='toctree-l'] > label:hover {
    background: #ea5b22 !important;
}

/* Hide right-hand side toc */
.toc-drawer {
	display: none !important
}

/* Breadcrumbs styling */
.wy-breadcrumbs {
    margin-bottom: 0rem !important;
	margin-top: 1rem !important;
	padding-left: 0rem !important
}

.wy-breadcrumbs>li {
    display: inline-block !important;
    padding-top: 5px !important
}

.breadcrumb-item:before {
    content: "/" !important;
    color:#bbb !important;
    font-size: 15px !important;
    padding: 0 6px 0 3px !important
}

@media screen and (max-width: 480px) {
    .wy-breadcrumbs {
        display: none !important
    }
}

/* Change style of horizontal line under breadcrumbs */
hr {
    display: block !important;
    height: 1px !important;
    border-right-width: 0px !important;
    border-right-style: none !important;
    border-left-width: 0px !important;
    border-left-style: none !important;
    border-bottom-width: 0px !important;
    border-bottom-style: none !important;
    border-top: 1px solid #c5ccd3 !important
}
