/* In this file place changes you want to overwrite in furo.css */

@import 'furo.css';

/* Add open-sans-regular - latin font */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

/* Disable dark mode (values copied from light mode) */
@media not print {
    body[data-theme=dark] {
		--color-problematic:#b30000;
		--color-foreground-primary:#000;
		--color-foreground-secondary:#5a5c63;
		--color-foreground-muted:#646776;
		--color-foreground-border:#878787;
		--color-background-primary:#fff;
		--color-background-secondary:#f8f9fb;
		--color-background-hover:#efeff4;
		--color-background-hover--transparent:#efeff400;
		--color-background-border:#eeebee;
		--color-background-item:#ccc;
		--color-announcement-background:#000000dd;
		--color-announcement-text:#eeebee;
		--color-brand-primary:#2962ff;
		--color-brand-content:#2a5adf;
		--color-highlighted-background:#def;
		--color-guilabel-background:#ddeeff80;
		--color-guilabel-border:#bedaf580;
		--color-api-keyword: var(--color-foreground-primary);
		--color-highlight-on-target:#ffc;
		--color-admonition-background: transparent;
		--color-card-border: var(--color-background-secondary);
		--color-card-background: transparent;
		--color-card-marginals-background: var(--color-background-secondary)
    }

    html body[data-theme=dark] .only-light {
        display: none !important
    }

    body[data-theme=dark] .only-dark {
        display: block !important
    }

    @media(prefers-color-scheme:dark) {
        body:not([data-theme=light]) {
		--color-problematic:#b30000;
		--color-foreground-primary:#000;
		--color-foreground-secondary:#5a5c63;
		--color-foreground-muted:#646776;
		--color-foreground-border:#878787;
		--color-background-primary:#fff;
		--color-background-secondary:#f8f9fb;
		--color-background-hover:#efeff4;
		--color-background-hover--transparent:#efeff400;
		--color-background-border:#eeebee;
		--color-background-item:#ccc;
		--color-announcement-background:#000000dd;
		--color-announcement-text:#eeebee;
		--color-brand-primary:#2962ff;
		--color-brand-content:#2a5adf;
		--color-highlighted-background:#def;
		--color-guilabel-background:#ddeeff80;
		--color-guilabel-border:#bedaf580;
		--color-api-keyword: var(--color-foreground-primary);
		--color-highlight-on-target:#ffc;
		--color-admonition-background: transparent;
		--color-card-border: var(--color-background-secondary);
		--color-card-background: transparent;
		--color-card-marginals-background: var(--color-background-secondary)
        }

        html body:not([data-theme=light]) .only-light {
            display: none !important
        }

        body:not([data-theme=light]) .only-dark {
            display: block !important
        }
    }
}

/* Hide toggle dark mode icon */
.content-icon-container {
    display: none !important
}

/* Change font size */
html {
    -webkit-text-size-adjust: 60% !important;
    line-height: 1.15
}

body {
    font-size: 0.88em !important;
    line-height: 1.4 !important;
    font-weight: 400 !important;
    margin: 0
}

h1 {
    font-size: 1.75em !important
}

h2 {
    font-size: 1.5em !important
}

h3 {
    font-size: 1.25em !important
}

h4 {
    font-size: 1.125em !important
}

h5 {
    font-size: 1.0em !important
}

h6 {
    font-size: 0.85em !important
}

@media(min-width: 97em) {
    html {
            font-size: 100% !important
    }
}

/* Center images */
img {
    max-width: 100% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important
}

/* Change sidebar width, hide border and move to the left */
.sidebar-drawer {
    background: var(--color-sidebar-background);
    border-right: none !important;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-direction: column !important;
    height: 100vh !important;
    width: 17em !important;
    position: sticky;
    top: 0;
}

.sidebar-container {
    box-sizing: border-box;
    width: inherit !important;
    overflow-y: auto !important;
    flex-grow: 1 !important
}

.sidebar-sticky {
    height: 100% !important;
    overflow-y: hidden !important
}

.version-container {
    width: inherit !important;
    border-top: 1px solid #c2cbcb !important;
    background-color: #f1f3f3 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    color: var(--color-sidebar-link-text--top-level) !important
}

.default-version {
    display: flex !important;
    justify-content: space-between !important;
    cursor: pointer !important
}

.default-version:hover {
    background-color: #ea5b22 !important;
    color: white !important
}

.default-version > label {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer !important;
    width: var(--sidebar-expander-width) !important;
    height: var(--sidebar-item-height) !important
}

.version-top {
    flex: 1 !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding-left: 10px !important
}

.version-container.shift-up > .default-version label > .icon > svg {
    transform: rotate(-90deg) !important
}

.default-version label > .icon > svg {
    transform: rotate(90deg) !important
}

.version-container.shift-up .other-versions {
    display: block !important
}

.other-versions {
    margin-right: 10px !important;
    margin-left: 10px !important;
    box-sizing: border-box !important;
    display: none !important
}

.other-versions > dl {
    margin-top: 7px !important
}

.other-versions > dl > dd {
    display: inline-block !important;
    margin: 0 !important;
    padding: 5px !important
}

.other-versions > dl > dd > a {
    text-decoration: none !important;
    font-weight: 500 !important;
    color: var(--color-sidebar-link-text--top-level) !important
}

.other-versions > dl > dd > a:hover {
    font-weight: 500 !important;
    color: #ea5b22 !important
}

/* Hide sidebar brand text */
.sidebar-brand-text {
    display: none !important
}

/* Change background color of scrollable part of sidebar */
.sidebar-scroll::-webkit-scrollbar {
    background-color: #f1f3f3 !important;
    border-radius: .125rem
}

.sidebar-scroll {
    background-color: #f1f3f3 !important;
    scrollbar-color: var(--color-foreground-border) transparent;
    scrollbar-width: thin
}

/* Add border-radius and alginment to searchbox */
.sidebar-search-container {
    border-radius: 15px !important;
    align-items: center;
    background: var(--color-sidebar-search-background);
    display: flex;
    margin-top: 0.1rem !important;
    margin-bottom: 0.75rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    position: relative
}

/* Adjust padding of logo */
.sidebar-brand {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1.8rem 1rem 0.8rem 1rem !important;
    text-decoration: none
}

/* Change padding of searchbox */
.sidebar-search {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--color-sidebar-search-foreground);
    padding: var(--sidebar-search-input-spacing-vertical) var(--sidebar-search-input-spacing-horizontal)
             var(--sidebar-search-input-spacing-vertical) 1.85rem !important;
    width: 100%;
    z-index: 10
}

/* Change icon position for the left side of container */
.sidebar-search-container:before {
    background-color: var(--color-sidebar-search-icon);
    content: "";
    height: var(--sidebar-search-icon-size);
    left: 0.5rem !important;
    -webkit-mask-image: var(--icon-search);
    mask-image: var(--icon-search);
    position: absolute;
    width: var(--sidebar-search-icon-size)
}

/* Change color and font-weight of current page reference */
.sidebar-tree .current-page>.reference {
    font-weight: 600 !important;
    color:#ea5b22 !important
}

/* Change color and font-weight of current reference */
.sidebar-tree .current>.reference {
    background: var(--color-sidebar-item-background--current);
    color: #ea5b22 !important;
    font-weight: 600 !important
}

/* Change color on hover of current reference */
.sidebar-tree .current>.reference:hover {
    background: #ea5b22 !important;
    color:white !important
}

/* Change color on hover for 4 levels of list */
.sidebar-tree .current > .reference:hover,
.sidebar-tree [class^='toctree-l'] > a:hover {
    background: #ea5b22 !important;
    color: white !important;
}

.sidebar-tree [class^='toctree-l'] > a:hover + input + label,
.sidebar-tree [class^='toctree-l'] > label:hover {
    background: #ea5b22 !important;
}

/* Hide right-hand side toc */
.toc-drawer {
	display: none !important
}

/* Breadcrumbs styling */
.wy-breadcrumbs {
    margin-bottom: 0rem !important;
	margin-top: 1rem !important;
	padding-left: 0rem !important
}

.wy-breadcrumbs>li {
    display: inline-block !important;
    padding-top: 5px !important
}

.breadcrumb-item:before {
    content: "/" !important;
    color:#bbb !important;
    font-size: 15px !important;
    padding: 0 6px 0 3px !important
}

@media screen and (max-width: 480px) {
    .wy-breadcrumbs {
        display: none !important
    }
}

/* Change style of horizontal line under breadcrumbs */
hr {
    display: block !important;
    height: 1px !important;
    border-right-width: 0px !important;
    border-right-style: none !important;
    border-left-width: 0px !important;
    border-left-style: none !important;
    border-bottom-width: 0px !important;
    border-bottom-style: none !important;
    border-top: 1px solid #c5ccd3 !important
}

/* Hide headerlinks */
.code-block-caption:hover>.headerlink,
dl dt:hover>.headerlink,
figcaption p:hover>.headerlink,
h1:hover>.headerlink,
h2:hover>.headerlink,
h3:hover>.headerlink,
h4:hover>.headerlink,
h5:hover>.headerlink,
h6:hover>.headerlink,
p.caption:hover>.headerlink,
table>caption:hover>.headerlink {
    visibility: hidden !important
}

/* Align table headers to the left */
table.docutils th {
    background: var(--color-table-header-background);
    text-align: left !important
}

/* Adjust window resizing layout */
@media(max-width:54em) {
    .nav-overlay-icon {
        display: flex
    }

    .sidebar-drawer {
        height: 100vh;
        left: -17em;
        position: fixed;
        top: 0;
        width: 17em
    }

    .toc-header-icon {
        display: flex
    }

    .theme-toggle-container {
        display: none !important
    }

    .mobile-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0
    }

    .mobile-header .header-left,
    .mobile-header .header-right {
        display: flex;
        height: var(--header-height);
        padding: 0 var(--header-padding)
    }

    .mobile-header .header-left label,
    .mobile-header .header-right label {
        height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        width: 100%
    }

    .nav-overlay-icon .icon,
    .theme-toggle svg {
        height: 1.25rem;
        width: 1.25rem
    }

    :target {
        scroll-margin-top: var(--header-height)
    }

    .back-to-top {
        top: calc(var(--header-height) + .5rem)
    }

    .page {
        flex-direction: column;
        justify-content: center
    }

    .content {
        margin-left: auto;
        margin-right: auto
    }
}

/* Adjust mobile-header */
.mobile-header .header-center a {
    color: var(--color-header-text);
    text-decoration: none;
    font-weight: bold !important
}

.mobile-header .header-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important
}

/* Change color of nav icon */
.nav-overlay-icon .icon {
    color: white !important;
    height: 1rem;
    width: 1rem
}

/* Hide toc nav item */
.toc-overlay-icon .icon {
    display: none !important;
}

/* Add border to docutils table */
table.docutils {
    border: 1px solid var(--color-table-border) !important;
    border-collapse: collapse;
    border-radius: .2rem;
    border-spacing: 0;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .05), 0 0 .0625rem rgba(0, 0, 0, .1)
}

/* Hide highlight-link in searchtree */
#searchbox .highlight-link {
    display: none;
}
